[Desktop Entry]

Name=Qpdf Tools
Exec=qpdftools
Comment=An easy-to-use Qt interface for Ghostscript and QPDF
Keywords=pdf;editor;manager;combiner;optimizer;
Icon=br.eng.silas.qpdftools
Type=Application
Terminal=false
StartupNotify=true
Categories=Office;Qt;Utility;
Name[pt_BR]=Qpdf Tools
